* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
body,
main {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

main {
    display: grid;
    place-items: center;
}

.wrapper {
    width: 350px;
    height: 550px;
    display: grid;
    place-items: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 3px;
}

#output_screen {
    height: 100px;
    margin-bottom: 1rem;
    overflow: auto hidden;
}

#output_screen>input {
    width: 100%;
    height: 100%;
    background-color: #9DCC67;
    color: #34681D;
    padding: 0 0.5rem;
    font-size: 2rem;
    font-weight: 800;
    text-align: right;
}

#button_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
}

#button_wrapper>button {
    padding: 1.5em;
    border: 0.5px solid black;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
}

#equal_btn {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

#zero_btn {
    grid-column: 1 / 3;
}