* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
body,
main {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

main {
    display: grid;
    place-items: center;
}

.wrapper {
    width: 80%;
    height: 70%;
    display: block;
}

#output_screen {
    margin-bottom: 1rem;
    font-size: 3rem;
    border: 2px solid black;
    padding: 1rem;
}

#button_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
    padding: 0.3rem;
    border: 1px solid black;
}

#button_wrapper>button {
    padding: 1.5em;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
}

#equal_btn {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

#zero_btn {
    grid-column: 1 / 3;
}